* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v136_5 {
  width: 100%;
  height: 4009px;
  background: rgba(255,255,255,1);
  margin: 56px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v138_73 {
  width: 100%;
  height: 106px;
  background: url("../images/v138_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v137_6 {
  width: 100%;
  height: 106px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v138_79 {
  width: 291px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 9px;
  left: 562px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v138_80 {
  width: 82px;
  height: 36px;
  background: rgba(0,0,0,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 1199px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v138_81 {
  width: 52px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 5px;
  left: 15px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v138_86 {
  width: 281px;
  height: 74px;
  background: url("../images/v138_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 146px;
  overflow: hidden;
}
.v142_174 {
  width: 100%;
  height: 1268px;
  background: url("../images/v142_174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  overflow: hidden;
}
.v142_175 {
  width: 100%;
  height: 62px;
  background: rgba(73,73,73,0.5799999833106995);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v142_176 {
  width: 296px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 0px;
  left: 572px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v203_5 {
  width: 100%;
  height: 618px;
  background: rgba(217,217,217,0.3499999940395355);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 0px;
  overflow: hidden;
}
.v203_9 {
  width: 55px;
  height: 55px;
  background: rgba(231,25,25,1);
  opacity: 1;
  position: absolute;
  top: 432px;
  left: 985px;
  overflow: hidden;
}
.v203_8 {
  width: 55px;
  height: 55px;
  background: rgba(231,149,25,1);
  opacity: 1;
  position: absolute;
  top: 354px;
  left: 985px;
  overflow: hidden;
}
.v203_7 {
  width: 55px;
  height: 55px;
  background: rgba(227,231,25,1);
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 985px;
  overflow: hidden;
}
.v203_6 {
  width: 55px;
  height: 55px;
  background: rgba(25,231,45,1);
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 985px;
  overflow: hidden;
}
.v203_15 {
  width: 229px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 432px;
  left: 1056px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v203_17 {
  width: 229px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 354px;
  left: 1056px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v203_16 {
  width: 229px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 276px;
  left: 1056px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v203_14 {
  width: 229px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 198px;
  left: 1056px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v203_18 {
  width: 585px;
  height: 289px;
  background: rgba(25,231,45,0.2199999988079071);
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 160px;
  overflow: hidden;
}
.v203_21 {
  width: 587px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 197px;
  left: 158px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 250px;
  opacity: 1;
  text-align: center;
}
.v205_29 {
  width: 871px;
  height: 510px;
  background: url("../images/v205_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 678px;
  left: 252px;
  overflow: hidden;
}
.v205_30 {
  width: 254px;
  height: 118px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1041px;
  left: 515px;
  overflow: hidden;
}
.v205_32 {
  width: 59px;
  height: 59px;
  background: rgba(101,101,101,1);
  opacity: 1;
  position: absolute;
  top: 1100px;
  left: 658px;
  border-radius: 50%;
}
.v205_33 {
  width: 299px;
  background: url("../images/v205_33.png");
  opacity: 1;
  position: absolute;
  top: 1129px;
  left: 688px;
  border: 7px solid rgba(101,101,101,1);
  transform: rotate(-17deg);
}
.v142_1029 {
  width: 100%;
  height: 1268px;
  background: url("../images/v142_1029.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1486px;
  left: 0px;
  overflow: hidden;
}
.v142_1030 {
  width: 100%;
  height: 62px;
  background: rgba(73,73,73,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v142_1031 {
  width: 136px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 0px;
  left: 651px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v205_1915 {
  width: 643px;
  height: 438px;
  background: url("../images/v205_1915.png");
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 376px;
  border: 7px solid rgba(25,231,45,1);
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v205_1926 {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 801px;
  left: 821px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v205_1927 {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 801px;
  left: 953px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v205_1925 {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 801px;
  left: 689px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v205_1920 {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 801px;
  left: 559px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v205_1921 {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 801px;
  left: 442px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v205_1924 {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 801px;
  left: 310px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v206_1930 {
  width: 100%;
  height: 834px;
  background: rgba(217,217,217,0.3499999940395355);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 0px;
  overflow: hidden;
}
.v206_1931 {
  width: 439px;
  height: 99px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 478px;
  overflow: hidden;
}
.v206_1932 {
  width: 406px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 495px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v142_1026 {
  width: 100%;
  height: 1268px;
  background: url("../images/v142_1026.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2810px;
  left: 0px;
  overflow: hidden;
}
.v142_1027 {
  width: 100%;
  height: 62px;
  background: rgba(73,73,73,0.5799999833106995);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v142_1028 {
  width: 369px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 0px;
  left: 535px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v206_3066 {
  width: 100%;
  height: 506px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 0px;
  overflow: hidden;
}
.v206_3067 {
  width: 100%;
  height: 422px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 37px;
  overflow: hidden;
}
.v206_3068 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 103px;
  left: 55px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v206_3072 {
  width: 189px;
  height: 77px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 1119px;
  overflow: hidden;
}
.v206_3073 {
  width: 142px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 23px;
  left: 24px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v282_607 {
  width: 100%;
  height: 56px;
  background: url("../images/v282_607.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1143px;
  left: 0px;
  overflow: hidden;
}
.v282_608 {
  width: 100%;
  height: 153px;
  background: rgba(73,73,73,1);
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 0px;
  overflow: hidden;
}
.v282_610 {
  width: 129px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 12px;
  left: 1047px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v282_611 {
  width: 107px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 1121px;
  left: 1047px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v282_612 {
  width: 62px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 1090px;
  left: 1050px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v282_609 {
  width: 69px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 1055px;
  left: 1050px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v282_613 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1075px;
  left: 48px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v142_101 {
  width: 100%;
  height: 56px;
  background: url("../images/v142_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 0px;
  overflow: hidden;
}
.v142_97 {
  width: 100%;
  height: 56px;
  background: rgba(73,73,73,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v142_1033 {
  width: 193px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 13px;
  left: 1016px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v138_76 {
  width: 71px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 13px;
  left: 877px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v142_1032 {
  width: 165px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 13px;
  left: 644px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v142_182 {
  width: 148px;
  color: rgba(251,206,0,1);
  position: absolute;
  top: 13px;
  left: 428px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v138_74 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 230px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
