.habit-tracker-container {
    display: flex;
}

.arrow-container {
    position: fixed;
    top: 0;
    z-index: 2;
}

.arrow-button {
    border: none;
    background-color: transparent;
    padding: 10px;
    margin-top: 250px;
}

.arrow-icon {
    transition: transform 0.5s;
}

.arrow-left {
    left: 250px;
    transition: left 0.5s;
}

.arrow-right {
    left: 0;
    transition: left 0.5s;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(215, 215, 229);
    padding-top: 20px;
    margin-top: 260px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.habit-button,
.option-button,
.daily-button,
.weekly-button,
.due-button,
.report-button {
    border: 2px solid transparent;
    color:rgb(137, 205, 137);
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.habit-button {
    background-color: #7db78a;
    color: white;
    border-radius: 40px;
    text-align: center;
}

.option-button {
    background-color: #5485ff;
    border-radius: 40px;
    text-align: center;
   
}

.daily-button,
.weekly-button {
    background-color: rgb(108, 162, 188);
    color: white;
    border-radius: 40px;
    text-align: center;
}

.due-button {
    background-color: #5fc9f8;
    color: white;
    border-radius: 40px;
    text-align: center;
}

.report-button {
    background-color: #b58fe3;
    color: white;
    border-radius: 40px;
    text-align: center;
}

.sidebar button:hover {
    background-color: #f0f0f0;
}

.sidebar ul ul {
    margin-top: 10px;
    padding-left: 20px;
}

.sidebar ul ul button {
    padding: 8px;
    width: calc(100% - 16px);
}

.sidebar ul ul button:hover {
    background-color: #f0f0f0;
}

.main-content {
    padding: 20px;
    font-style:italic;
    margin-left: 400px;
    margin-top: 200px;
    color:rgb(93,0,139)
    
}
