/* import Fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Color Scheme */

:root {
    --primary-color: #0F9485;
    --secondary-color: #0B7933;
    --tertiary-color: #2497CA;
    --background-color: #FFFDF5;
    --accent-color: #7293DC;
    --highlight-color: #9895E2;
    --text-color: #000000;
}


/* Font */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: var(--background-color);
}

body,
p,
ul,
ol {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}


/* General Styling */

body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
    background-color: var(--background-color);
}


/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 30px;
    color: var(--text-color);
}


/* Links */

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}


/* Header and branding */

.logo {
    width: 140px;
    height: 140px;
    margin: 0;
}

.mainHeader {
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
}

.title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 70px;
}

.title {
    display: flex;
    align-items: center;
    position: relative;
}

.title .logo {
    width: 200px;
    height: auto;
    margin-right: -50px;
}

.brand {
    display: grid;
    margin: 0;
    justify-items: center;
}

.slogan {
    margin-top: -60px;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}


/* Nav Bar */

ul.navigation li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.navigation {
    background-color: var(--tertiary-color);
    /* Updated color */
    padding: 0px;
}

ul.navigation li a {
    color: var(--background-color);
    /* Updated color */
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}


/* Team Cards */

.cardRow {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    block-size: fit-content;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 30px;
}

.cardRow a {
    text-decoration: none;
    color: var(--text-color);
    justify-content: center;
}

.card {
    max-width: 300px;
    min-height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: grey;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardHeader {
    background-color: var(--highlight-color);
    /* Updated color */
    font-size: 16px;
    padding: 20px;
}

.cardContainer {
    padding: 20px;
}


/* Login */

button {
    background-color: var(--highlight-color);
    border: none;
    color: bl;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color);
}
.button-unset{
    background-color: unset !important;
}

.right {
    margin-left: auto;
    margin-right: 20px;
    padding-top: 30px;
}

.login {
    display: flex;
}


/* Navigation */

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline;
    margin-right: 20px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #FFF;
}

ul.navigation li a {
    color: #000;
}

ul.navigation li a:hover {
    color: #FFF;
}


/* Content */

.content {
    background-color: var(--background-color);
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}


/* budgeting table */

.budgetTable {
    width: 75%;
    border-collapse: collapse;
}

.budgetTable th,
.budgetTable td {
    padding: 12px 15px;
}

.budgetTable thead tr {
    text-align: left;
    background-color: #2497CA;
    color: #ffffff;
}