/* import Fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Color Scheme */

:root {
    --primary-color: #0F9485;
    --secondary-color: #0B7933;
    --tertiary-color: #2497CA;
    --background-color: #EBECF0;
    --accent-color: #7293DC;
    --highlight-color: #9895E2;
    --text-color: #000000;
}


/* Font */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: var(--background-color);
}

body,
p,
ul,
ol {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}


/* General Styling */

body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
    background-color: var(--background-color);
}


/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 25px;
    color: var(--text-color);
}


/* Links */

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}


/* Header and branding */

.logo {
    width: 80px;
    height: 80px;
    margin: 0;
}

.mainHeader {
    width: 100%;
    background-color: white;
    display: flex;
}

.title h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0;
    font-size: 30px;
    line-height: 1.2; /* Adjust line height for better spacing */
    color: #0C2E4C;
    margin-left: 55px;
    margin-top: -30px;
}

.title {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
}

.title .logo {
    width: 70px;
    height: auto;
    margin-right: -50px;
}

.brand {
    display: grid;
    margin: 0;
    justify-items: center;
}

.slogan {
    margin-top: -50px;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    color: #0C2E4C;
    font-weight: 300;
    font-style: normal;
    margin-left: 30px;
}


/* Nav Bar */

ul.navigation li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.navigation {
    background-color: var(--tertiary-color);
    /* Updated color */
    padding: 0px;
}

ul.navigation li a {
    color: var(--background-color);
    /* Updated color */
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}


/* Team Cards */

.card {
    width: 300px;
    height: 300px;
    border-radius: 10px; /* Add rounded corners for a softer look */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */
    background-color: #f5f5f5; /* Light gray background */
    margin: 0 15px 30px 0;
    overflow: hidden; /* Hide overflowing content */
    position: relative; /* Positioning context for pseudo-elements */
}

.cardRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 30px;
}

.cardRow a {
    text-decoration: none;
    color: var(--text-color);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4); /* Increase shadow on hover */
}

.cardHeader {
    background-color: var(--highlight-color);
    font-size: 16px; /* Increase font size */
    padding: 20px;
    border-bottom: 2px solid #ddd; /* Add bottom border */
}

.cardContainer {
    padding: 20px;
    line-height: 1.6;
}

.cardContainer p {
    font-size: 16px; /* Adjust font size */
    color: #555; /* Dark gray text color */
    font-weight: 400;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5)); /* Adjust gradient for brightness */
    z-index: 1;
    pointer-events: none;
    opacity: 0; /* Initially hide the overlay */
    transition: opacity 0.3s ease; /* Add transition for smooth effect */
}

.card:hover::before {
    opacity: 1; /* Show the overlay on hover */
}

.card:nth-child(odd) .cardHeader {
    background-color: #000; /* Set background color to black for odd-indexed cards */
}

.card:nth-child(odd) .cardHeader h3 {
    color: white; /* Set font color to white for odd-indexed cards */
}



/* Login */

button {
    background-color: #0C2E4C; /* Change button background color */
    border: none;
    color: #ffffff; /* Change button text color */
    padding: 10px 20px; /* Adjust button padding to change size */
    text-align: center;
    font-size: 14px; /* Change button font size */
    font-family: 'Raleway', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Add border-radius for slightly curved borders */
    transition: background-color 0.3s ease; /* Add transition for hover effect */
}

button:hover {
    background-color: var(--primary-color); /* Change background color on hover */
}

button:hover {
    background-color: var(--primary-color);
}
.button-unset{
    background-color: unset !important;
}

.right {
    margin-left: auto;
    margin-right: 20px;
    padding-top: 30px;
}

.login {
    display: flex;
}


/* Navigation */

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000 !important;
    width: 100%;
    height: 50px;
    line-height: 10px;
}

.navigation li {
    display: inline;
    margin-right: 20px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #21CCBE;
}

ul.navigation li a {
    color: #FFF;
}

ul.navigation li a:hover {
    color: #21CCBE;
}


/* Content */

.content {
    background-color: var(--background-color);
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}


/* budgeting table */

.budgetTable {
    width: 75%;
    border-collapse: collapse;
}

.budgetTable th,
.budgetTable td {
    padding: 12px 15px;
}

.budgetTable thead tr {
    text-align: left;
    background-color: #2497CA;
    color: #ffffff;
}