* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v70_2 {
  width: 100%;
  height: 1264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v70_3 {
  width: 100%;
  height: 242px;
  background: url("../images/v70_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 163px;
  overflow: hidden;
}
.v70_4 {
  width: 266px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v70_5 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 89px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v70_6 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v70_7 {
  width: 78px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 168px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v70_8 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 128px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v70_9 {
  width: 209px;
  height: 208px;
  background: url("../images/v70_9.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 801px;
  border-radius: 50%;
}
.v70_10 {
  width: 278px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 208px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v168_5 {
  width: 185px;
  height: 27px;
  background: url("../images/v168_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 85px;
  overflow: hidden;
}
.v168_14 {
  width: 45px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 52px;
  left: 91px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v168_15 {
  width: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 95px;
  left: 75px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v168_16 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 128px;
  left: 68px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v168_17 {
  width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 168px;
  left: 90px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v70_11 {
  width: 100%;
  height: 164px;
  background: url("../images/v70_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 153px;
  overflow: hidden;
}
.v70_12 {
  width: 355px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v168_11 {
  width: 135px;
  height: 13px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 278px;
  overflow: hidden;
}
.v170_6 {
  width: 764px;
  height: 91px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 92px;
  overflow: hidden;
}
.v170_120 {
  width: 764px;
  height: 100%;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 92px;
  overflow: hidden;
}
.v170_18 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 85px;
  left: 97px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v170_20 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 61px;
  left: 719px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v170_27 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 86px;
  left: 719px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v170_17 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 374px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v170_26 {
  width: 161px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 40px;
  left: 669px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v170_15 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 42px;
  left: 201px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v170_14 {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 42px;
  left: 108px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v170_22 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 83px;
  left: 221px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v170_23 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 64px;
  left: 221px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v170_21 {
  width: 100px;
  color: rgba(0,25,255,1);
  position: absolute;
  top: 8px;
  left: 301px;
  font-family: Inter;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v170_24 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 83px;
  left: 364px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v170_25 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 65px;
  left: 364px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v170_28 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 62px;
  left: 97px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v170_93 {
  width: 77px;
  color: rgba(0,25,255,1);
  position: absolute;
  top: 110px;
  left: 780px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v200_6 {
  width: 100%;
  height: 164px;
  background: url("../images/v200_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 533px;
  left: 153px;
  overflow: hidden;
}
.v200_7 {
  width: 355px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v200_8 {
  width: 135px;
  height: 13px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 278px;
  overflow: hidden;
}
.v200_25 {
  width: 120px;
  color: rgba(0,25,255,1);
  position: absolute;
  top: 8px;
  left: 158px;
  font-family: Inter;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v200_119 {
  width: 781px;
  height: 112px;
  background: url("../images/v200_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 90px;
  overflow: hidden;
}
.v200_9 {
  width: 764px;
  height: 91px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 2px;
  overflow: hidden;
}
.v200_10 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 51px;
  left: 7px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v200_11 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 629px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v200_12 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 52px;
  left: 629px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v200_13 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 284px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v200_14 {
  width: 161px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 579px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v200_15 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 111px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v200_22 {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 18px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v200_23 {
  width: 25px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 131px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v200_24 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 30px;
  left: 131px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v200_26 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 274px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v200_27 {
  width: 196px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 274px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v200_28 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 7px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v200_29 {
  width: 77px;
  color: rgba(0,25,255,1);
  position: absolute;
  top: 76px;
  left: 690px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v200_144 {
  width: 100%;
  height: 286px;
  background: url("../images/v200_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 705px;
  left: 163px;
  overflow: hidden;
}
.v200_145 {
  width: 355px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v200_146 {
  width: 135px;
  height: 13px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 278px;
  overflow: hidden;
}
.v200_147 {
  width: 140px;
  color: rgba(0,25,255,1);
  position: absolute;
  top: 11px;
  left: 210px;
  font-family: Inter;
  font-weight: Light;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v200_171 {
  width: 205px;
  height: 177px;
  background: url("../images/v200_171.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 5px;
  overflow: hidden;
}
.v70_23 {
  width: 100%;
  height: 194px;
  background: url("../images/v70_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 942px;
  left: 160px;
  overflow: hidden;
}
.v70_25 {
  width: 612px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v70_26 {
  width: 612px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 84px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v70_27 {
  width: 612px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 151px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v70_28 {
  width: 612px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 117px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v70_29 {
  width: 100%;
  height: 194px;
  background: url("../images/v70_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1136px;
  left: 163px;
  overflow: hidden;
}
.v70_30 {
  width: 355px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v115_12 {
  width: 145px;
  height: 50px;
  background: url("../images/v115_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 93px;
  left: 981px;
  overflow: hidden;
}
.v114_2 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v70_33 {
  width: 100%;
  height: 75px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v70_34 {
  width: 282px;
  color: rgba(255,244,0,1);
  position: absolute;
  top: 1px;
  left: 164px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 62px;
  opacity: 1;
  text-align: left;
}
.v70_35 {
  width: 136px;
  color: rgba(255,244,0,1);
  position: absolute;
  top: 25px;
  left: 721px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v70_36 {
  width: 101px;
  color: rgba(255,244,0,1);
  position: absolute;
  top: 26px;
  left: 882px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v70_37 {
  width: 167px;
  color: rgba(255,244,0,1);
  position: absolute;
  top: 26px;
  left: 998px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v70_38 {
  width: 86px;
  color: rgba(255,244,0,1);
  position: absolute;
  top: 25px;
  left: 1185px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v115_6 {
  width: 309px;
  background: url("../images/v115_6.png");
  opacity: 1;
  position: absolute;
  top: 1249px;
  left: 1426px;
  border: 2px solid rgba(0,0,0,1);
  transform: rotate(-2deg);
}
.name {
  color: #fff;
}

.table {
  border-collapse: collapse;
  width: 100%;
  font-family: Inter;
}

.th, .td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-family: Inter;
}

.th {
  font-family: Inter;
  background-color: #f2f2f2;
}

.no-color-change {
  color: inherit;
  text-decoration: none;
}
