
.blog h3{
    box-shadow: 3px 3px gray;
     margin: 25px 50px ;
     
    }
     .blog_container {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       margin: 0;
       flex-direction: row; /* Ensure flex direction is row */
     }
     
     .card {
       display: flex;
       flex-direction: column;
       width: clamp(20rem, calc(20rem + 2vw), 22rem);
       overflow: hidden;
       box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
       border-radius: 1em;
       background: #ECE9E6;
       background: linear-gradient(to right, #FFFFFF, #ECE9E6);
       cursor: pointer;
       margin: 15px;
       height: 570px;
     }
     
     .card__body {
       padding: 1rem;
       display: flex;
       flex-direction: column;
       gap: .5rem;
     }
     
     img {
       max-width: 100%;
       display: block;
       object-fit: cover;
     }
     
     
   .tag {
     align-self: flex-start;
     padding: 0.25em 0.75em;
     border-radius: 1em;
     font-size: 0.75rem;
   }
   
   .tag + .tag {
     margin-left: 0.5em;
   }
   
   #tag-blue {
     background: #56ccf2;
     background: linear-gradient(to bottom, #2f80ed, #56ccf2);
     color: #fafafa;
   }
   
   /* .tag-brown {
     background: #d1913c;
     background: linear-gradient(to bottom, #ffd194, #d1913c);
     color: #fafafa;
   }
    */
   #tag-red {
     background: #cb2d3e;
     background: linear-gradient(to bottom, #ef473a, #cb2d3e);
     color: #fafafa;
     width: 80px;
   }
   
   .card__body h4 {
     font-size: 1.5rem;
     text-transform: capitalize;
   }
   
   
   .div2 {
     display: grid;
     grid-template-columns: 270px 430px ; 
     justify-content: center;
     align-items: center; 
     grid-gap: 10px; 
     cursor: pointer;
     border: 0px white;
     border-radius: 15px;
     height: 255px;
     background: #ECE9E6;
     margin: 7px;
   }
   
   
   .hiddencomponentdiv {
     display: grid;
     grid-template-columns: auto auto; 
     justify-content: center;
     align-items: center; 
     grid-gap: 10px; 
     cursor: pointer;
     border: 0px white;
     border-radius: 15px;
     margin: 7px;
   }
   .content{
     width: auto;
     height: auto;
   }
   
   .hiddenGoBackBtn {
     text-align: right;
   }
   
   
   h1{
     display: block;
   }