

 

  .step {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
  }

  .step img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
  }

  .text-box {
    background-color:lavender; /* Light yellow background */
    padding: 10px;
    border-radius: 8px;
    flex-grow: 1; /* Take up remaining space */
  }

  .text-box p {
    margin: 0;
    color: #000; /* Black text color */
  }