.header-icon {
  height: 47px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
}
.frame-child {
  height: 48px;
  width: 148px;
  position: relative;
  background-color: #f0f2f7;
  display: none;
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.iri-dashboard-2-line {
  height: 38px;
  width: 37px;
  position: relative;
  min-width: 28px;
  z-index: 1;
}
.dashboard {
  height: 23px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  min-width: 86px;
  z-index: 1;
}
.instance-creation,
.rectangle-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.5px 0 0;
}
.rectangle-parent {
  width: 148px;
  background-color: #f0f2f7;
  flex-direction: row;
  padding: 7.5px 10px 2.5px;
  box-sizing: border-box;
  z-index: 1;
}
.bitten-apple-icon {
  position: absolute;
  top:5px;
  left: 13px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.icon1 {
  height: 38px;
  width: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.iri-dashboard-2-line1 {
  width: 33px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  min-width: 28px;
}
.food-log {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.abstract-class,
.iri-dashboard-2-line-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.abstract-class {
  flex: 1;
  flex-direction: column;
  padding: 9.5px 0 0;
}
.iri-dashboard-2-line-parent {
  width: 129px;
  flex-direction: row;
  padding: 6px 2px 3px 0;
  box-sizing: border-box;
  gap: 9px;
  cursor: pointer;
  z-index: 1;
}
.icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 38px;
  overflow: hidden;
}
.exercise-log,
.iri-dashboard-2-line2 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.iri-dashboard-2-line2 {
  height: 38px;
  width: 40px;
  min-width: 28px;
}
.exercise-log {
  font-weight: 500;
  display: inline-block;
  min-width: 97px;
}
.connected-components {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9.5px 0 0;
}
.assignment-statement,
.iri-dashboard-2-line-group,
.nav2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.iri-dashboard-2-line-group {
  align-items: flex-start;
  padding: 5.5px 0 3.5px;
  cursor: pointer;
  z-index: 1;
}
.assignment-statement,
.nav2 {
  box-sizing: border-box;
  max-width: 100%;
}
.nav2 {
  flex: 1;
  align-items: flex-end;
  padding: 0 89px;
  position: relative;
  gap: 11.5px;
}
.assignment-statement {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 28px;
}
.good-morning-nithish {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.heres-whats-happening {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  color: #878a99;
}
.frame-container,
.good-morning-nithish-parent,
.logic-branch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1px;
}
.frame-container,
.logic-branch {
  align-self: stretch;
  flex-direction: row;
  gap: 31.6px;
}
.frame-container {
  flex-direction: column;
  gap: 41px;
}
.divcard-header {
  /* align-self: stretch; */
  /* gap: 20px; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;

}

.progress-title {
  /* width: 1rem; */
  /* border: 0; */
  /* outline: 0; */
  font-weight: 600;
  font-family: Raleway;
  font-size: 14px;
  background-color: transparent;
  height: 100%;
  /* position: relative; */
  /* line-height: 19.2px; */
  color: #495057;
  text-align: left;
  display: flex;
  align-items: center;
  /* max-width: 715.4400024414062px; */
  padding: 0;
}
.div {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 50px;
  max-width: 185.47999572753906px;
}
.heading-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 67px 0.1px 67.8px;
}
.calories-burnt {
  width: 100%;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 91px;
  max-width: 185.47999572753906px;
  white-space: nowrap;
}
.divcol-6,
.divp-3,
.ptext-muted {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ptext-muted {
  align-self: stretch;
  align-items: center;
  padding: 0 47px 0.5px 47.3px;
  font-size: 13px;
  color: #878a99;
}
.divcol-6,
.divp-3 {
  align-items: flex-start;
}
.divp-3 {
  align-self: stretch;
  border-top: 0.8px dashed #e9ebec;
  border-right: 0.8px dashed #e9ebec;
  border-bottom: 0.8px dashed #e9ebec;
  padding: 16.8px 16px 16.9px;
  gap: 3.5px;
}
.divcol-6 {
  flex: 1;
  min-width: 87px;
  max-width: 873px;
}
.div1 {
  width: 100%;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 52px;
  max-width: 185.47999572753906px;
}
.heading-51 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 66px 0.1px 66.8px;
}
.calories-gained {
  width: 100%;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 104px;
  max-width: 185.47999572753906px;
}
.divcol-61,
.divp-31,
.ptext-muted1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ptext-muted1 {
  align-self: stretch;
  align-items: center;
  padding: 0 40px 0.5px 40.8px;
  font-size: 13px;
  color: #878a99;
}
.divcol-61,
.divp-31 {
  align-items: flex-start;
}
.divp-31 {
  align-self: stretch;
  border-top: 0.8px dashed #e9ebec;
  border-right: 0.8px dashed #e9ebec;
  border-bottom: 0.8px dashed #e9ebec;
  padding: 16.8px 16px 16.9px;
  gap: 3.5px;
}
.divcol-61 {
  flex: 1;
  min-width: 87px;
  max-width: 873px;
}
.div2 {
  width: 100%;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 31px;
  max-width: 185.47999572753906px;
}
.heading-52 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 77px 0.1px 77.2px;
}
.net-calories {
  width: 100%;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 79px;
  max-width: 185.47999572753906px;
}
.divcol-62,
.divp-32,
.ptext-muted2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.ptext-muted2 {
  align-self: stretch;
  align-items: center;
  padding: 0 53px 0.5px 53.2px;
  font-size: 13px;
  color: #878a99;
}
.divcol-62,
.divp-32 {
  align-items: flex-start;
}
.divp-32 {
  align-self: stretch;
  border-top: 0.8px dashed #e9ebec;
  border-right: 0.8px dashed #e9ebec;
  border-bottom: 0.8px dashed #e9ebec;
  padding: 16.8px 16px 16.9px;
  gap: 3.5px;
}
.divcol-62 {
  flex: 1;
  min-width: 87px;
  max-width: 873px;
  z-index: 1;
}
.div3 {
  width: 100%;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 69px;
  max-width: 186.27999877929688px;
}
.heading-53 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 58px 0.1px 58.6px;
}
.performance-stats {
  width: 100%;
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 121px;
  max-width: 186.27999877929688px;
}
.divp-33,
.ptext-muted3 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.ptext-muted3 {
  display: flex;
  align-items: center;
  padding: 0 32px 0.5px 32.6px;
  font-size: 13px;
  color: #878a99;
}
.divp-33 {
  border-top: 0.8px dashed #e9ebec;
  border-bottom: 0.8px dashed #e9ebec;
  padding: 16.8px 16px 16.9px;
  gap: 3.5px;
}
.divcol-63,
.divp-33,
.divrow {
  display: flex;
  align-items: flex-start;
}
.divcol-63 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 87px;
  max-width: 873px;
  z-index: 2;
  color: #0ab39c;
}
.divrow {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 63.4px;
}
.divcard-header1,
.svgjsrect2195-icon {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
.divcard-header1 {
  background-color: #f9fbfc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.svgjsrect2195-icon {
  height: 100px;
  margin: 0 !important;
  right: 0;
  overflow: hidden;
  flex-shrink: 0;
}
.svgjstext2300,
.svgjstext2303 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.svgjstext2300 {
  align-self: stretch;
  min-width: 33px;
}
.svgjstext2303 {
  width: 30px;
  min-width: 30px;
}
.svgjsrect2195-parent {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20.5px 49.8px 0 17.2px;
  box-sizing: border-box;
  position: relative;
  gap: 48.7px;
}
.svgjstext2306 {
  width: 31px;
  position: relative;
  display: inline-block;
  min-width: 31px;
}
.svgjstext2306-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 19px 0 19.2px;
}
.svgjstext2309 {
  width: 30px;
  position: relative;
  display: inline-block;
  min-width: 30px;
}
.svgjstext2309-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 20.2px;
}
.svgjsg2199-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.svgjsg2199-icon,
.svgjsg2199-parent,
.svgjsg2205-icon,
.svgjsg2234-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.svgjsg2205-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 3;
}
.svgjsg2199-parent,
.svgjsg2234-icon {
  margin: 0 !important;
}
.svgjsg2234-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 4;
}
.svgjsline2257-icon,
.svgjsline2258-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: clip;
  max-height: unset;
  z-index: 5;
}
.svgjsline2258-icon {
  z-index: 6;
}
.svgjsline2257-parent {
  align-self: stretch;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.svgjsline2196-icon {
  align-self: stretch;
  width: 0;
  position: relative;
  max-height: 100%;
  min-height: 263px;
  z-index: 1;
}
.svgjsg2239-icon,
.svgjsrect2319-icon,
.svgjsrect2320-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.svgjsrect2319-icon,
.svgjsrect2320-icon {
  z-index: 7;
}
.svgjsrect2320-icon {
  z-index: 8;
}
.size-manager {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.value-transformer {
  height: 262.8px;
  flex: 1;
  position: relative;
  min-width: 497px;
  max-width: 100%;
}
.image-processor {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  row-gap: 20px;
}
.image-processor-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 20px 0 19.6px;
  box-sizing: border-box;
}
.frame-parent1,
.image-processor-wrapper,
.svgjsg2234-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.svgjsg2234-parent {
  flex: 1;
  flex-direction: column;
  padding: 1px 3.1px 1.2px;
  box-sizing: border-box;
  position: relative;
}
.frame-parent1 {
  width: 810.4px;
  margin: 0 !important;
  position: absolute;
  top: -254.3px;
  right: -6.7px;
  flex-direction: row;
}
.link-connector {
  width: 24px;
  position: relative;
  display: inline-block;
  min-width: 24px;
}
.svgjstext2262,
.svgjstext2265,
.svgjstext2268 {
  width: 32px;
  position: relative;
  display: inline-block;
  min-width: 32px;
}
.svgjstext2265,
.svgjstext2268 {
  width: 35px;
  min-width: 35px;
}
.svgjstext2271,
.svgjstext2274,
.svgjstext2277,
.svgjstext2280 {
  width: 36px;
  position: relative;
  display: inline-block;
  min-width: 36px;
}
.svgjstext2280 {
  width: 35px;
  min-width: 35px;
}
.svgjstext2283,
.svgjstext2286 {
  position: relative;
  display: inline-block;
  min-width: 36px;
}
.svgjstext2283 {
  width: 36px;
}
.svgjstext2286 {
  align-self: stretch;
}
.svgjstext2286-wrapper {
  width: 39.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3.1px 0 0;
  box-sizing: border-box;
}
.svgjstext2289 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  min-width: 32px;
}
.svgjstext2289-wrapper {
  width: 38px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 6px 0 0;
  box-sizing: border-box;
}
.svgjstext2292 {
  align-self: stretch;
  position: relative;
  display: inline-block;
  min-width: 28px;
}
.svgjstext2292-wrapper {
  width: 36.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8.1px 0 0;
  box-sizing: border-box;
}
.svgjstext2295 {
  width: 31px;
  position: relative;
  display: inline-block;
  min-width: 31px;
}
.progress-bar {
  width: 795.5px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 7px 0 0;
  box-sizing: border-box;
  gap: 20px;
}
.error-handler,
.frame-div,
.input-field,
.progress-bar {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.input-field {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  font-size: 12px;
}
.error-handler,
.frame-div {
  flex: 1;
  justify-content: flex-start;
}
.error-handler {
  flex-direction: column;
  gap: 5.6px;
}
.frame-div {
  flex-direction: row;
  position: relative;
}
.divcustomer-impression-charts,
.divcustomer-impression-charts-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.divcustomer-impression-charts-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 10px 0 26.2px;
}
.divcustomer-impression-charts {
  position: absolute;
  top: 77.7px;
  left: 0;
  width: 100%;
  flex-direction: column;
  padding: 0 63.5px 46.1px;
  gap: 48.7px;
  min-height: 10px;
  z-index: 1;
  text-align: right;
  font-size: 11px;
  color: #878a99;
}
.divcard-header-parent {
  align-self: stretch;
  height: 447.7px;
  position: relative;
  max-width: 100%;
}
.divcard,
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.divcard {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  padding: 0 0 8px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16.3px;
  font-family: Poppins;
}
.frame-group {
  flex: 1;
  gap: 28px;
}
.calendar-child {
  /* height: 30px; */
  width: 144px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  display: none;
}
.th-january-2024 {
  position: relative;
  /* line-height: 20px; */
  /* display: inline-block; */
  min-width: 100px;
  z-index: 1;
  /* margin-top: 17px  ; */
}
.calendar {
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  /* flex-direction: row; */
  align-items: flex-start;
  justify-content: center;
  padding: 11.5px;
  white-space: nowrap;
  z-index: 1;
  margin-top: 3px;
}
.decision-tree-icon {
  height: 18px;
  width: 17px;
  position: relative;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 4.8px 11px 4.8px 28px;
  background-color: #000;
  height: 37px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-left: -18px;
}
.dashboard-ct-inner,
.data-combiner,
.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.data-combiner {
  justify-content: flex-start;
  font-size: 13px;
  color: #212529;
  font-family: Poppins;
}
.dashboard-ct-inner,
.frame-parent {
  max-width: 100%;
}
.frame-parent {
  width: 1264px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 81.6px;
  text-align: left;
  font-size: 16px;
  color: #495057;
  font-family: Raleway;
}
.dashboard-ct-inner {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px 0 22px;
  box-sizing: border-box;
}
.dashboard-ct {
  width: 100%;
  position: relative;
  background-color: #f0f2f7;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 108.7px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Raleway;
}
@media screen and (max-width: 1125px) {
  .logic-branch {
    flex-wrap: wrap;
  }
  .divcol-6,
  .divcol-61,
  .divcol-62,
  .divcol-63 {
    max-width: 100%;
  }
  .divrow {
    padding-left: 31px;
    padding-right: 31px;
    box-sizing: border-box;
  }
  .svgjsline2196-icon {
    width: 100%;
    height: 0;
  }
  .image-processor {
    flex-wrap: wrap;
  }
  .divcustomer-impression-charts {
    padding-left: 31px;
    padding-right: 31px;
    box-sizing: border-box;
  }
  .divcard-header-parent {
    height: auto;
    min-height: 447.69999999999993;
  }
}
@media screen and (max-width: 800px) {
  .nav2 {
    flex-wrap: wrap;
    padding-left: 44px;
    padding-right: 44px;
    box-sizing: border-box;
  }
  .logic-branch {
    gap: 16px;
  }
  .frame-container {
    gap: 20px;
  }
  .value-transformer {
    min-width: 100%;
  }
  .progress-bar {
    flex-wrap: wrap;
  }
  .divcustomer-impression-charts {
    gap: 24px;
  }
  .frame-group {
    min-width: 100%;
  }
  .frame-parent {
    gap: 41px;
  }
}
@media screen and (max-width: 450px) {
  .nav2 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .divcard-header {
    flex-wrap: wrap;
  }
  .frame-parent {
    gap: 20px;
  }
}
