.header-child {
  width: 1440px;
  position: relative;
  max-height: 100%;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.healthify-logo-1,
.healthify-logo-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.healthify-logo-1-icon {
  width: 45px;
  height: 42.3px;
  object-fit: cover;
  z-index: 3;
}
.health-harbor,
.logic-gate {
  position: absolute;
  top: 1px;
  left: 0;
  width: 153px;
  height: 42.3px;
}
.health-harbor {
  top: 0;
  left: 45px;
  display: flex;
  align-items: center;
  width: 121px;
  height: 42px;
  white-space: nowrap;
  z-index: 4;
}
.output-container {
  height: 43.3px;
  width: 170px;
  position: relative;
  color: #0e2872;
  font-family: Raleway;
}
.wrapper-frame-4-child {
  outline: 0;
  padding: 8.8px 0 0.8px;
  font-family: Poppins;
  font-size: 13px;
  color: #878a99;
  border: 0;
  width: 100%;
  height: 100%;
  background: 0 0;
  position: relative;
  z-index: 3;
}
.search {
  height: 20px;
  width: 54px;
  position: relative;
  display: flex;
  align-items: center;
}
.divplaceholder {
  height: 21.6px;
  width: 161.6px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0.8px 0;
  box-sizing: border-box;
}
.divplaceholder,
.input,
.wrapper-frame-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  width: 100%;
  height: 21.6px;
  border-radius: 4px;
  background-color: #f3f3f9;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  pointer-events: none;
}
.wrapper-frame-4 {
  position: relative;
  width: 161.6px;
  border: 0;
  background-color: transparent;
  height: 29.6px;
  flex-direction: column;
  box-sizing: border-box;
}
.icon3 {
  height: 38px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.before,
.divposition-relative,
.divposition-relative-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.before {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 13px;
  flex-direction: row;
}
.divposition-relative,
.divposition-relative-wrapper {
  box-sizing: border-box;
}
.divposition-relative {
  width: 231.6px;
  flex: 1;
  flex-direction: row;
  padding: 0 13px;
  position: relative;
  gap: 9px;
  z-index: 2;
}
.divposition-relative-wrapper {
  height: 42px;
  width: 978px;
  flex-direction: column;
  padding: 4px 0 0;
  max-width: 100%;
  font-size: 13px;
}
.ussvg-icon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.reducer,
.ussvg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ussvg {
  border-radius: 4px;
  overflow: hidden;
  z-index: 2;
}
.reducer {
  padding: 13px 25px 0 0;
}
.splitter {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #f06548;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.combine-function {
  position: absolute;
  top: 3.9px;
  left: 6px;
  line-height: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 10px;
  min-width: 6px;
  z-index: 4;
}
.combiner {
  align-self: stretch;
  height: 16.9px;
  position: relative;
}
.window-function {
  width: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.1px 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 10px;
  color: #fff;
}
.input-divider-icon {
  height: 20px;
  width: 16px;
  position: absolute;
  margin: 0 !important;
  right: 150px;
  bottom: 24px;
  z-index: 2;
}
.profile-icon {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 19.9px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 16px;
  z-index: 1;
}
.window-splitter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.logout-icon {
  margin: 0;
  height: 22.1px;
  position: relative;
  font-size: inherit;
  line-height: 17px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  min-width: 19px;
  z-index: 1;
}
.window-splitter-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.header,
.header-wrapper,
.value-splitter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.value-splitter {
  width: 66px;
  flex-direction: column;
  padding: 11px 0 0;
  font-size: 19px;
  font-family: ABeeZee;
}
.header,
.header-wrapper {
  flex-direction: row;
  max-width: 100%;
}
.header {
  flex: 1;
  background-color: #fff;
  padding: 13px 35px 13.7px;
  position: relative;
  gap: 19px;
  text-align: left;
  font-size: 16px;
  color: #878a99;
  font-family: Poppins;
}
.header-wrapper {
  align-self: stretch;
  padding: 0 0 0 5px;
  top: 0;
  z-index: 99;
  position: sticky;
}
.header-icon1,
.icon4 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.header-icon1 {
  height: 47px;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  max-width: 100%;
}
.icon4 {
  top: 0;
  height: 100%;
}
.iri-dashboard-2-line3 {
  height: 38px;
  width: 37px;
  position: relative;
  min-width: 28px;
}
.dashboard1 {
  height: 23px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
  min-width: 86px;
}
.dashboard-wrapper,
.iri-dashboard-2-line-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7.5px 0 0;
}
.iri-dashboard-2-line-container {
  flex-direction: row;
  padding: 6.5px 11px 2.5px 0;
  cursor: pointer;
  z-index: 1;
}
.frame-item {
  height: 48px;
  width: 144px;
  position: relative;
  background-color: #f0f2f7;
  display: none;
}
.bitten-apple-icon1 {
  position: absolute;
  top: 5px;
  left: 13px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.icon5 {
  height: 38px;
  width: 39px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.before1,
.iri-dashboard-2-line4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.iri-dashboard-2-line4 {
  flex-direction: column;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  min-width: 28px;
}
.food-log2 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.button-2,
.rectangle-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 1;
}
.button-2 {
  flex: 1;
  align-items: center;
  padding: 6px 5px 3px 0;
}
.rectangle-group {
  width: 144px;
  background-color: #f0f2f7;
  align-items: flex-start;
  padding: 1px 2px 0 8px;
  box-sizing: border-box;
}
.icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 38px;
  overflow: hidden;
}
.exercise-log1,
.iri-dashboard-2-line5 {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.iri-dashboard-2-line5 {
  height: 38px;
  width: 40px;
  min-width: 28px;
}
.exercise-log1 {
  font-weight: 500;
  display: inline-block;
  min-width: 97px;
}
.exercise-log-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9.5px 0 0;
}
.group-div,
.nav21 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.group-div {
  align-items: flex-start;
  padding: 5.5px 0 3.5px;
  cursor: pointer;
  z-index: 1;
}
.nav21 {
  align-self: stretch;
  align-items: flex-end;
  padding: 0 99px;
  position: relative;
  gap: 6px;
  z-index: 2;
}
.divcard-parent,
.divcard-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcard-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1px;
}
.divcard-parent {
  width: 313.4px;
  flex-direction: column;
  gap: 9px;
  min-width: 313.4px;
}
.svgjsg2327-icon,
.todays-calorie-breakdown {
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
  z-index: 1;
}
.todays-calorie-breakdown {
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.svgjsg2327-icon {
  height: 196.8px;
  width: 196.8px;
}
.svgjsg2327-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.todays-calorie-breakdown-parent {
  width: 311.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.frame-inner {
  width: 19px;
  height: 10px;
  position: relative;
  background-color: #405189;
  z-index: 1;
}
.rectangle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0;
}
.fat {
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 24px;
  z-index: 1;
}
.frame-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 27px 0 0;
  gap: 2px;
}
.rectangle-div {
  width: 19px;
  height: 10px;
  position: relative;
  background-color: #f7b84b;
  z-index: 1;
}
.rectangle-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0;
}
.protein {
  flex: 1;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 1;
}
.frame-parent6 {
  width: 78px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.frame-child1 {
  width: 19px;
  height: 10px;
  position: relative;
  background-color: #0ab39c;
  z-index: 1;
}
.rectangle-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0;
}
.carbs {
  flex: 1;
  position: relative;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 1;
}
.frame-parent7 {
  width: 65px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.frame-parent4 {
  width: 325px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.divcard-inner,
.divcard1,
.frame-parent3,
.frame-parent4 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.divcard-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 41px;
  box-sizing: border-box;
  font-size: 11px;
  font-family: Poppins;
}
.divcard1,
.frame-parent3 {
  justify-content: flex-start;
}
.divcard1 {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  flex-direction: column;
  padding: 9px 12px 25px;
  box-sizing: border-box;
  gap: 19.2px;
  min-width: 293px;
}
.frame-parent3 {
  width: 801px;
  flex-direction: row;
  gap: 36.6px;
}
.breakfast {
  width: 92px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: Raleway;
  font-size: 16px;
  background-color: transparent;
  height: 20px;
  position: relative;
  line-height: 19.2px;
  color: #495057;
  text-align: left;
  display: flex;
  align-items: center;
  max-width: 715.4400024414062px;
  padding: 0;
}
.divcard-header2 {
  align-self: stretch;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
  border-bottom: 0.8px solid #e9ebec;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 16.8px;
}
.calorie,
.cell {
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins;
  color: #878a99;
}
.cell {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #f3f6f9;
  height: 44px;
  flex: 0.2445;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12px 16px;
  box-sizing: border-box;
  min-width: 172px;
  max-width: 175px;
}
.calorie {
  position: relative;
  line-height: 20px;
  text-align: left;
  display: inline-block;
  min-width: 55px;
}
.cell1 {
  flex: 1;
  background-color: #f3f6f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12px 10px 12px 9.6px;
  box-sizing: border-box;
  min-width: 172px;
  max-width: 175px;
}
.fat1 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  font-family: Poppins;
  color: #878a99;
  text-align: left;
  display: inline-block;
  min-width: 24px;
}
.cell2,
.cell3,
.cell4 {
  flex: 1;
  background-color: #f3f6f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12px 10px 12px 9.6px;
  box-sizing: border-box;
  min-width: 172px;
  max-width: 175px;
}
.cell3,
.cell4 {
  width: 100%;
  border: 0;
  outline: 0;
  height: 44px;
  flex: 0.3539;
  padding: 12px 9.6px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 13px;
  color: #878a99;
}
.cell4 {
  flex: 0.2813;
  max-width: 176px;
}
.divtable-responsive,
.header-row,
.table {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.header-row {
  width: 876px;
  flex-direction: row;
  align-items: flex-end;
  row-gap: 20px;
}
.divtable-responsive,
.table {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.divtable-responsive {
  overflow: hidden;
  justify-content: center;
}
.link-vz2107 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  display: inline-block;
  min-width: 109px;
}
.link-vz2107-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 0;
}
.data {
  height: 56.5px;
  width: 83.6px;
  flex-shrink: 0;
  display: none;
}
.enter-calorie-value {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  display: inline-block;
  min-width: 124px;
}
.enter-calorie-value-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px 0 0;
}
.data-bags {
  align-self: stretch;
  position: relative;
  font-size: 13px;
  line-height: 19.5px;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  z-index: 1;
}
.data-bags-and-wallets-wrapper {
  width: 121px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px 0 0;
  box-sizing: border-box;
}
.data-itest {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  display: inline-block;
  min-width: 125px;
}
.divflex-shrink-0margin {
  height: 32px;
  width: 40px;
  flex-shrink: 0;
  display: none;
}
.data-itest1 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  display: inline-block;
  min-width: 119px;
}
.body {
  flex: 1;
  border-top: 0.8px solid #e9ebec;
  box-sizing: border-box;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 17.3px 53px 18.4px 16px;
  min-width: 612px;
  max-width: 100%;
  gap: 20px;
}
.add-item {
  width: 61px;
  position: relative;
  font-size: 13px;
  line-height: 10px;
  font-weight: 600;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 61px;
}
.heading-54 {
  cursor: pointer;
  border: 0;
  padding: 6px 6.8px 7px;
  background-color: #0b7933;
  align-self: stretch;
  border-radius: 4px;
  flex-direction: row;
  white-space: nowrap;
  z-index: 1;
}
.heading-54:hover,
.heading-55:hover,
.heading-56:hover {
  background-color: #30a159;
}
.body-parent,
.heading-5-wrapper,
.heading-54 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-5-wrapper {
  width: 79px;
  flex-direction: column;
  padding: 15.2px 0 0;
  box-sizing: border-box;
}
.body-parent {
  width: 991px;
  flex-direction: row;
  gap: 37px;
  max-width: 100%;
}
.link-vz21071 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  font-family: Poppins;
  color: #405189;
  text-align: left;
  display: inline-block;
  min-width: 124px;
}
.link-vz2107-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.3px 0 0;
}
.data1 {
  height: 56.5px;
  width: 83.6px;
  display: none;
}
.divflex-shrink-0margin1 {
  height: 32px;
  width: 44px;
  display: none;
}
.kcal {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Poppins;
  color: #212529;
  text-align: left;
  display: inline-block;
  min-width: 69px;
}
.kcal-wrapper {
  width: 132px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.1px 0 0;
  box-sizing: border-box;
}
.data-bags1 {
  align-self: stretch;
  position: relative;
  font-size: 13px;
  line-height: 19.5px;
  font-family: Poppins;
  color: #212529;
  text-align: left;
}
.data-bags-and-wallets-container {
  width: 113px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
}
.data-itest2 {
  align-self: stretch;
  position: relative;
  font-size: 13px;
  line-height: 19.5px;
  font-family: Poppins;
  color: #212529;
  text-align: left;
}
.data-itest-factory-wrapper {
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 28px 0 0;
  box-sizing: border-box;
}
.data-itest3 {
  width: 82.1px;
  position: relative;
  font-size: 13px;
  line-height: 19.5px;
  font-family: Poppins;
  color: #212529;
  text-align: left;
  display: flex;
  align-items: center;
}
.data-itest-factory-container {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.delete-icon,
.edit-square-icon {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.delete-icon {
  height: 25px;
  width: 25px;
  min-height: 25px;
}
.edit-square-icon {
  width: 20px;
  height: 20px;
}
.edit-square-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.delete-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
}
.body1,
.divcard2,
.frame-parent8 {
  display: flex;
  align-items: flex-start;
}
.frame-parent8 {
  width: 627px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.body1,
.divcard2 {
  align-self: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
}
.body1 {
  border-top: 0.8px solid #e9ebec;
  flex-direction: row;
  padding: 15.2px 16px 15.8px;
  gap: 44px;
  max-width: 102%;
  flex-shrink: 0;
}
.divcard2 {
  margin: 0;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  flex-direction: column;
  padding: 0;
  max-width: 100%;
}
.lunch {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: Raleway;
  color: #495057;
  text-align: left;
  display: inline-block;
  min-width: 57px;
  max-width: 715.4400024414062px;
}
.divcard-header3 {
  align-self: stretch;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
  border-bottom: 0.8px solid #e9ebec;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 16.8px;
}
.calorie1,
.cell5 {
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins;
  color: #878a99;
}
.cell5 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #f3f6f9;
  height: 44px;
  flex: 0.2445;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12px 16px;
  box-sizing: border-box;
  min-width: 172px;
  max-width: 175px;
}
.calorie1 {
  position: relative;
  line-height: 20px;
  text-align: left;
  display: inline-block;
  min-width: 55px;
}
.cell6 {
  flex: 1;
  background-color: #f3f6f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12px 10px 12px 9.6px;
  box-sizing: border-box;
  min-width: 172px;
  max-width: 175px;
}
.fat2 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  font-family: Poppins;
  color: #878a99;
  text-align: left;
  display: inline-block;
  min-width: 24px;
}
.cell7,
.cell8,
.cell9 {
  flex: 1;
  background-color: #f3f6f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12px 10px 12px 9.6px;
  box-sizing: border-box;
  min-width: 172px;
  max-width: 175px;
}
.cell8,
.cell9 {
  width: 100%;
  border: 0;
  outline: 0;
  height: 44px;
  flex: 0.3539;
  padding: 12px 9.6px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 13px;
  color: #878a99;
}
.cell9 {
  flex: 0.2813;
  max-width: 176px;
}
.divtable-responsive1,
.header-row1,
.table1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.header-row1 {
  width: 876px;
  flex-direction: row;
  align-items: flex-end;
  row-gap: 20px;
}
.divtable-responsive1,
.table1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.divtable-responsive1 {
  overflow: hidden;
  justify-content: center;
}
.link-vz21072 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  font-family: Poppins;
  color: #000;
  text-align: left;
  /* display: inline-block; */
  min-width: 169px;
  max-width: 172px;
  border: none;
}
.link-vz2107-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 0;
}
.data2 {
  height: 56.5px;
  width: 83.6px;
  flex-shrink: 0;
  display: none;
}
.enter-calorie-value1 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  display: inline-block;
  min-width: 124px;
}
.enter-calorie-value-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px 0 0;
}
.data-bags2 {
  align-self: stretch;
  position: relative;
  font-size: 13px;
  line-height: 19.5px;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  z-index: 1;
}
.data-bags-and-wallets-frame {
  width: 121px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px 0 0;
  box-sizing: border-box;
}
.data-itest4 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  display: inline-block;
  min-width: 125px;
}
.divflex-shrink-0margin2 {
  height: 32px;
  width: 40px;
  flex-shrink: 0;
  display: none;
}
.data-itest5 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  display: inline-block;
  min-width: 119px;
}
.body2 {
  flex: 1;
  /* border-top: 0.8px solid #e9ebec; */
  /* box-sizing: border-box; */
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* justify-content: space-between; */
  padding: 17.3px 0px 18.4px 5px;
  /* min-width: 612px; */
  max-width: 100%;
  /* gap: 20px; */
}
.add-item1 {
  width: 61px;
  position: relative;
  font-size: 13px;
  line-height: 10px;
  font-weight: 600;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 61px;
}
.heading-55 {
  cursor: pointer;
  border: 0;
  padding: 6px 6.8px 7px;
  background-color: #0b7933;
  align-self: stretch;
  border-radius: 4px;
  flex-direction: row;
  white-space: nowrap;
  z-index: 1;
}
.body-group,
.heading-5-container,
.heading-55 {
  display: flex;
  justify-content: center;
}
.heading-5-container {
  width: 79px;
  flex-direction: column;
  padding: 15.2px 0 0;
  box-sizing: border-box;
  justify-content: center;
}
.body-group {
  width: 991px;
  flex-direction: row;
  gap: 37px;
  max-width: 100%;
}
.link-vz21073 {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-family: Poppins;
  color: #405189;
  text-align: left;
  display: inline-block;
  min-width: 126px;
}
.link-vz2107-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.3px 0 0;
}
.data3 {
  height: 56.5px;
  width: 83.6px;
  display: none;
}
.divflex-shrink-0margin3 {
  height: 32px;
  width: 44px;
  display: none;
}
.kcal1 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Poppins;
  color: #212529;
  text-align: left;
  display: inline-block;
  min-width: 69px;
}
.kcal-container {
  width: 132px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.1px 0 0;
  box-sizing: border-box;
}
.data-bags3 {
  align-self: stretch;
  position: relative;
  font-size: 13px;
  line-height: 19.5px;
  font-family: Poppins;
  color: #212529;
  text-align: left;
}
.data-bags-and-wallets-wrapper1 {
  width: 113px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
}
.data-itest6 {
  align-self: stretch;
  position: relative;
  font-size: 13px;
  line-height: 19.5px;
  font-family: Poppins;
  color: #212529;
  text-align: left;
}
.data-itest-factory-frame {
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 28px 0 0;
  box-sizing: border-box;
}
.data-itest7 {
  width: 82.1px;
  position: relative;
  font-size: 13px;
  line-height: 19.5px;
  font-family: Poppins;
  color: #212529;
  text-align: left;
  display: flex;
  align-items: center;
}
.data-itest-factory-wrapper1 {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.delete-icon1,
.edit-square-icon1 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.delete-icon1 {
  height: 25px;
  width: 25px;
  min-height: 25px;
}
.edit-square-icon1 {
  width: 20px;
  height: 20px;
}
.edit-square-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.delete-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 60%;
  gap: 20px;
}
.body3,
.divcard3,
.frame-parent9 {
  display: flex;
  align-items: flex-start;
}
.frame-parent9 {
  width: 627px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.body3,
.divcard3 {
  align-self: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
}
.body3 {
  border-top: 0.8px solid #e9ebec;
  flex-direction: row;
  padding: 15.2px 16px 15.8px;
  gap: 44px;
  max-width: 102%;
  flex-shrink: 0;
}
.divcard3 {
  margin: 0;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  flex-direction: column;
  padding: 0;
  max-width: 100%;
}
.dinner {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: Raleway;
  color: #495057;
  text-align: left;
  display: inline-block;
  min-width: 61px;
  max-width: 715.4400024414062px;
}
.divcard-header4 {
  align-self: stretch;
  border-radius: 4px 4px 0 0;
  background-color: #fff;
  border-bottom: 0.8px solid #e9ebec;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 16.8px;
}
.calorie2,
.cell10 {
  font-size: 13px;
  font-weight: 600;
  font-family: Poppins;
  color: #878a99;
}
.cell10 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #f3f6f9;
  height: 44px;
  flex: 0.2445;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12px 16px;
  box-sizing: border-box;
  min-width: 172px;
  max-width: 175px;
}
.calorie2 {
  position: relative;
  line-height: 20px;
  text-align: left;
  display: inline-block;
  min-width: 55px;
}
.cell11 {
  flex: 1;
  background-color: #f3f6f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12px 10px 12px 9.6px;
  box-sizing: border-box;
  min-width: 172px;
  max-width: 175px;
}
.fat3 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  font-family: Poppins;
  color: #878a99;
  text-align: left;
  display: inline-block;
  min-width: 24px;
}
.cell12,
.cell13,
.cell14 {
  flex: 1;
  background-color: #f3f6f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 12px 10px 12px 9.6px;
  box-sizing: border-box;
  min-width: 172px;
  max-width: 175px;
}
.cell13,
.cell14 {
  width: 100%;
  border: 0;
  outline: 0;
  height: 44px;
  flex: 0.3539;
  padding: 12px 9.6px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 13px;
  color: #878a99;
}
.cell14 {
  flex: 0.2813;
  max-width: 176px;
}
.divtable-responsive2,
.header-row2,
.table2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.header-row2 {
  width: 876px;
  flex-direction: row;
  align-items: flex-end;
  row-gap: 20px;
}
.divtable-responsive2,
.table2 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.divtable-responsive2 {
  overflow: hidden;
  justify-content: center;
}
.link-vz21074 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  display: inline-block;
  min-width: 109px;
}
.link-vz2107-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5px 0 0;
}
.data4 {
  height: 56.5px;
  width: 83.6px;
  flex-shrink: 0;
  display: none;
}
.enter-calorie-value2 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  display: inline-block;
  min-width: 124px;
}
.enter-calorie-value-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px 0 0;
}
.data-bags4 {
  align-self: stretch;
  position: relative;
  font-size: 13px;
  line-height: 19.5px;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  z-index: 1;
}
.data-bags-and-wallets-wrapper2 {
  width: 121px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8px 0 0;
  box-sizing: border-box;
}
.data-itest8 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  display: inline-block;
  min-width: 125px;
}
.divflex-shrink-0margin4 {
  height: 32px;
  width: 40px;
  flex-shrink: 0;
  display: none;
}
.data-itest9 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Poppins;
  color: #d9d9d9;
  text-align: left;
  display: inline-block;
  min-width: 119px;
}
.body4 {
  flex: 1;
  border-top: 0.8px solid #e9ebec;
  box-sizing: border-box;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 17.3px 53px 18.4px 16px;
  min-width: 612px;
  max-width: 100%;
  gap: 20px;
}
.add-item2 {
  width: 61px;
  position: relative;
  font-size: 13px;
  line-height: 10px;
  font-weight: 600;
  font-family: Poppins;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 61px;
}
.heading-56 {
  cursor: pointer;
  border: 0;
  padding: 6px 6.8px 7px;
  background-color: #0b7933;
  align-self: stretch;
  border-radius: 4px;
  flex-direction: row;
  white-space: nowrap;
  z-index: 1;
}
.body-container,
.heading-5-frame,
.heading-56 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-5-frame {
  width: 79px;
  flex-direction: column;
  padding: 15.2px 0 0;
  box-sizing: border-box;
}
.body-container {
  width: 991px;
  flex-direction: row;
  gap: 37px;
  max-width: 100%;
}
.link-vz21075 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
  font-family: Poppins;
  color: #405189;
  text-align: left;
  display: inline-block;
  min-width: 124px;
}
.link-vz2107-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.3px 0 0;
}
.data5 {
  height: 56.5px;
  width: 83.6px;
  display: none;
}
.divflex-shrink-0margin5 {
  height: 32px;
  width: 44px;
  display: none;
}
.kcal2 {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-family: Poppins;
  color: #212529;
  text-align: left;
  display: inline-block;
  min-width: 69px;
}
.kcal-frame {
  width: 132px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.1px 0 0;
  box-sizing: border-box;
}
.data-bags5 {
  align-self: stretch;
  position: relative;
  font-size: 13px;
  line-height: 19.5px;
  font-family: Poppins;
  color: #212529;
  text-align: left;
}
.data-bags-and-wallets-wrapper3 {
  width: 113px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
}
.data-itest10 {
  align-self: stretch;
  position: relative;
  font-size: 13px;
  line-height: 19.5px;
  font-family: Poppins;
  color: #212529;
  text-align: left;
}
.data-itest-factory-wrapper2 {
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 28px 0 0;
  box-sizing: border-box;
}
.data-itest11 {
  width: 82.1px;
  position: relative;
  font-size: 13px;
  line-height: 19.5px;
  font-family: Poppins;
  color: #212529;
  text-align: left;
  display: flex;
  align-items: center;
}
.data-itest-factory-wrapper3 {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
  box-sizing: border-box;
}
.delete-icon2,
.edit-square-icon2 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.delete-icon2 {
  height: 25px;
  width: 25px;
  min-height: 25px;
}
.edit-square-icon2 {
  width: 20px;
  height: 20px;
}
.edit-square-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2px;
}
.delete-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
}
.body5,
.divcard4,
.frame-parent10 {
  display: flex;
  align-items: flex-start;
}
.frame-parent10 {
  width: 627px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.body5,
.divcard4 {
  align-self: stretch;
  justify-content: flex-start;
  box-sizing: border-box;
}
.body5 {
  border-top: 0.8px solid #e9ebec;
  flex-direction: row;
  padding: 15.2px 16px 15.8px;
  gap: 44px;
  max-width: 102%;
  flex-shrink: 0;
}
.divcard4 {
  margin: 0;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  flex-direction: column;
  padding: 0;
  max-width: 100%;
}
.divcard-group {
  align-self: stretch;
  gap: 33.2px;
}
.divcard-group,
.frame-parent2,
.sibling-hub {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent2 {
  align-self: stretch;
  gap: 42px;
}
.sibling-hub {
  flex: 1;
  padding: 22px 0 0;
  box-sizing: border-box;
}
.calendar-item {
  height: 37px;
  width: 144px;
  position: relative;
  border-radius: 5px;
  background-color: #fff;
  display: none;
}
.th-january-20241 {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 121px;
  z-index: 1;
}
.calendar1 {
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9px 11px 8px 12px;
  white-space: nowrap;
  z-index: 1;
}
.vector-icon {
  height: 18px;
  width: 17px;
  position: relative;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 4.8px 11px 4.8px 28px;
  background-color: #000;
  height: 37px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-left: -18px;
}
.branch-hub,
.calendar-parent,
.trunk-cluster {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.calendar-parent {
  justify-content: flex-start;
  color: #212529;
  font-family: Poppins;
}
.branch-hub,
.trunk-cluster {
  max-width: 100%;
}
.branch-hub {
  width: 1255px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 54px;
}
.trunk-cluster {
  align-self: stretch;
  justify-content: center;
  padding: 0 29px 0 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 13px;
  color: #878a99;
  font-family: Raleway;
}
.food-log1,
.main-branch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.main-branch {
  align-self: stretch;
  gap: 34px;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Raleway;
}
.food-log1 {
  width: 100%;
  position: relative;
  background-color: #f0f2f7;
  overflow: hidden;
  padding: 0 0 52.2px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1250px) {
  .window-splitter-parent {
    display: none;
  }
  .value-splitter {
    width: 0;
  }
}
@media screen and (max-width: 1100px) {
  .body {
    padding-right: 26px;
    box-sizing: border-box;
  }
  .body-parent,
  .body1 {
    flex-wrap: wrap;
  }
  .body2 {
    padding-right: 26px;
    box-sizing: border-box;
  }
  .body-group,
  .body3 {
    flex-wrap: wrap;
  }
  .body4 {
    padding-right: 26px;
    box-sizing: border-box;
  }
  .body-container,
  .body5 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .nav21 {
    flex-wrap: wrap;
    padding-left: 49px;
    padding-right: 49px;
    box-sizing: border-box;
  }
  .divcard-parent {
    flex: 1;
  }
  .frame-parent3 {
    flex-wrap: wrap;
  }
  .breakfast {
    max-width: 100%;
  }
  .header-row {
    flex-wrap: wrap;
  }
  .body {
    min-width: 100%;
  }
  .body-parent {
    gap: 18px;
  }
  .frame-parent8 {
    flex-wrap: wrap;
  }
  .body1 {
    gap: 22px;
  }
  .lunch {
    max-width: 100%;
  }
  .header-row1 {
    flex-wrap: wrap;
  }
  .body2 {
    min-width: 100%;
  }
  .body-group {
    gap: 18px;
  }
  .frame-parent9 {
    flex-wrap: wrap;
  }
  .body3 {
    gap: 22px;
  }
  .dinner {
    max-width: 100%;
  }
  .header-row2 {
    flex-wrap: wrap;
  }
  .body4 {
    min-width: 100%;
  }
  .body-container {
    gap: 18px;
  }
  .frame-parent10 {
    flex-wrap: wrap;
  }
  .body5 {
    gap: 22px;
  }
  .divcard-group {
    gap: 17px;
  }
  .frame-parent2 {
    gap: 21px;
  }
  .sibling-hub {
    min-width: 100%;
  }
  .branch-hub {
    gap: 27px;
  }
  .main-branch {
    gap: 17px;
  }
}
@media screen and (max-width: 450px) {
  .nav21 {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .frame-parent4 {
    flex-wrap: wrap;
  }
  .frame-parent3 {
    gap: 18px;
  }
  .cell,
  .cell10,
  .cell13,
  .cell14,
  .cell3,
  .cell4,
  .cell5,
  .cell8,
  .cell9 {
    flex: 1;
  }
}
