.header-inner {
  width: 1440px;
  position: relative;
  max-height: 100%;
  display: none;
  max-width: 100%;
}
.healthify-logo-1-icon2 {
  width: 45px;
  height: 42.3px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.healthify-logo-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.health-harbor2 {
  align-self: stretch;
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 3;
}
.health-harbor-wrapper {
  width: 144px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 23px 0 0;
  box-sizing: border-box;
  color: #0e2872;
  font-family: Raleway;
}
.wrapper-frame-7-child {
  outline: 0;
  padding: 8.8px 0 0.8px;
  font-family: Poppins;
  font-size: 13px;
  color: #878a99;
  border: 0;
  width: 100%;
  height: 100%;
  background: 0 0;
  position: relative;
  z-index: 3;
}
.search2 {
  height: 20px;
  width: 54px;
  position: relative;
  display: flex;
  align-items: center;
}
.divplaceholder2 {
  height: 21.6px;
  width: 161.6px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: 0.8px 0;
  box-sizing: border-box;
}
.divplaceholder2,
.input2,
.wrapper-frame-7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input2 {
  width: 100%;
  height: 21.6px;
  border-radius: 4px;
  background-color: #f3f3f9;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  pointer-events: none;
}
.wrapper-frame-7 {
  position: relative;
  width: 161.6px;
  border: 0;
  background-color: transparent;
  height: 29.6px;
  flex-direction: column;
  box-sizing: border-box;
}
.icon11 {
  height: 38px;
  width: 18px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.before4 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 13px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divposition-relative-container,
.divposition-relative2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.divposition-relative2 {
  width: 231.6px;
  flex: 1;
  flex-direction: row;
  padding: 0 13px;
  position: relative;
  gap: 9px;
  z-index: 2;
}
.divposition-relative-container {
  height: 42px;
  width: 997px;
  flex-direction: column;
  padding: 4px 0 0;
  max-width: 100%;
  font-size: 13px;
}
.ussvg-icon2 {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ussvg2 {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.if-statement-icon {
  width: 16px;
  height: 20px;
  position: absolute;
  margin: 0 !important;
  right: -5px;
  bottom: 0;
  z-index: 2;
}
.variable-holder {
  width: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 0 0;
  box-sizing: border-box;
  position: relative;
}
.for-loop {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #f06548;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.while-loop {
  position: absolute;
  top: 3.9px;
  left: 6px;
  line-height: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 10px;
  min-width: 6px;
  z-index: 4;
}
.elif-statement {
  align-self: stretch;
  height: 16.9px;
  position: relative;
}
.else-statement {
  width: 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.1px 19px 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 10px;
  color: #fff;
}
.profile-icon2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 19.9px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  min-width: 16px;
  z-index: 1;
}
.return-statement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.logout-icon2 {
  margin: 0;
  height: 22.1px;
  position: relative;
  font-size: inherit;
  line-height: 17px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  min-width: 19px;
  z-index: 1;
}
.continue-statement {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.break-statement,
.header2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.break-statement {
  width: 66px;
  flex-direction: column;
  padding: 11px 0 0;
  font-size: 19px;
  font-family: ABeeZee;
}
.header2 {
  align-self: stretch;
  background-color: #fff;
  flex-direction: row;
  padding: 13px 35px 13.7px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: #878a99;
  font-family: Poppins;
}
@media screen and (max-width: 1300px) {
  .continue-statement {
    display: none;
  }
  .break-statement {
    width: 0;
  }
}
